<!--Counterparty list    -->
{% extends 'base.html' %}

{% block content %}
    <h2>Организации</h2>
    <div class="nav">
        <a class="btn btn-primary" href="{% url 'counterparty_new' %}">Добавить организацию</a>
    </div>
    <ul>
        {% for counterparty in counterparty_list %}
            <li><a href="{% url 'counterparty_detail' counterparty.pk %}"> {{ counterparty }} </a></li>
        {% endfor %}
    </ul>

{% endblock content %}
