{% extends 'base.html' %}

{% block content %}
    <div>
        <h4>Документ</h4>
        <p><strong>{{ document }}</strong></p>
        <p>Организация: <a href="{% url 'counterparty_detail' document.organization.pk %}">{{ document.organization }}</a></p>
        <h5>Содержание:</h5>
        <p>{{ document.items }}</p>
        <p>Сумма: {{ document.amount }} руб.</p>
    </div>
    <div>
        <h4>Упоминания документа</h4>
        <ul>
            {% for entry in document.entries.all %}
                <li><a href="{% url 'entry_detail' entry.pk %}">{{ entry.timestamp }}: </a>{{ entry.record }}</li>
            {% empty %}
                <p>Этот документ нигде не упомянут</p>
            {% endfor %}
        </ul>
    </div>
<p style="margin-top: 2em;">
    <a class="btn btn-primary" href="{% url 'document_list_all' %}">Все документы</a>
    <script>console.log(history.length)</script>
    <input class="btn btn-secondary" type="button" onclick="history.back(2); return false;" value="Назад"/>
</p>
{% endblock content %}