<!--Document list    -->
{% extends 'base.html' %}

{% block content %}
    <h2>Документы</h2>
    <div class="nav">
        <a class="btn btn-primary" href="{% url 'document_new' %}">Новый документ</a>
    </div>
    <ul>
        {% for document in document_list %}
            <li><a href="{% url 'document_detail' document.pk %}">{{ document }}</a></li>
        {% endfor %}
    </ul>

    <script>console.log(history.length)</script>

{% endblock content %}
