{% extends 'base.html' %}

{% block content %}
    <div>
        <h4>Запись от {{ entry.timestamp }}</h4>
        <p>{{ entry.record }}</p>
        <p class="tags">Тэги: {{ post.tags.all|join:", " }}</p>
    </div>
<!--    <p class="tags">{{ entry.tags.all|join:", " }}</p>-->
    <div class="tags">
        {% for tag in entry.tags.all %}
            <a href="{% url 'entry_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
    <br>
    <div>
    <h4>Связанные документы</h4>
    <ul>
        {% for document in entry.documents.all %}
            <li><a href="{% url 'document_detail' document.pk %}">{{ document }}</a></li>
        {% empty %}
            <p>С этой записью не связан ни один документ</p>
        {% endfor %}
    </ul>
    </div>
<p style="margin-top: 2em;"><a class="btn btn-primary" href="{% url 'entry_list_all' %}">Все записи</a></p>
{% endblock content %}