{% extends "base.html" %}

{% block title %}Entries{% endblock %}

{% block content %}
  <h1>Записи</h1>
  {% if tag %}
    <h2>Записи, помеченные тэгом "{{ tag.name }}"</h2>
  {% endif %}
  {% for entry in entries %}
    <a href="{% url 'entry_detail' entry.pk %}">{{ entry.timestamp }}</a> {{ entry.record }}
<!--    <a href="{{ entry.get_absolute_url }}">{{ entry.timestamp }}</a> {{ entry.record }}-->
    <p class="tags">
      Тэги:
      {% for tag in entry.tags.all %}
        <a href="{% url 'entry_list_by_tag' tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
