<!--To Do list -->
{% extends 'base.html' %}

{% block content %}
    <h2>Список ToDo</h2>
    <div class="nav">
        <a class="btn btn-primary" href="{% url 'todo_new' %}">Новый элемент</a>
    </div>
    <ul>
        {% for todo in todos %}
            <li><a href="{% url 'todo_detail' todo.pk %}">{{ todo.action }}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}
