{% extends 'base.html' %}

{% block content2 %}
    <div id="#todolist">
        <ul>

            {% for todo in todos %}
                <li><a href=#>{{ todo.deadline }}: {{ todo.action }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content2 %}