{% extends 'base.html' %}

{% block content %}
    <div>
        <h4>Элемент ToDo</h4>
        <p><strong>{{ todo.action }}</strong></p>
        <p>Выполнить до: {{ deadline }}</p>
        <h5>Примечание:</h5>
        <p>{{ todo.note }}</p>
    </div>

    <a class="btn btn-primary" href="{% url 'todo_all' %}">Весь список ToDo</a>
{% endblock content %}