{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Diary CRM</title>

<!--    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>-->
<!--    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>-->
<!--    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <header>
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">DiaryCRM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'entry_list_all' %}">Записи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'entry_search' %}">Поиск</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'document_list_all' %}">Документы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'counterparty_list_all' %}">Контрагенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo_all' %}">Список ToDo</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/entry/search/" method="post">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" id="query" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {{ user.firstname }}
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">DiaryCRM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'entry_list_all' %}">Записи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'document_list_all' %}">Документы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'counterparty_list_all' %}">Контрагенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Список ToDo</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {% endif %}

    </header>

    <main>
        <div class="row">
            <div class="col-9" i>
                {% block content %}
                {% endblock %}
            </div>
            <div class="col">
                <h4>Выполнить</h4>
                <div id="todolist"></div>
            </div>
        </div>
    </main>

</div>

<script type="text/babel">
    class Todo extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                data: [],
                loaded: false,
                placeholder: "Loading"
            };
        }

        componentDidMount() {
            /* fetch("http://localhost:8000/api/v1/") */
               fetch("http://192.168.1.224/api/v1/")
                .then(response => {
                    if (response.status > 400) {
                        return this.setState(() => {
                            return {placeholder: "Something went wrong!"};
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    this.setState(() => {
                        return {
                            data,
                            loaded: true
                        };
                    });
                });
        }


        render() {
            return (
                <ul>
                    {this.state.data.map(todo => {
                        return (
                            <li key={todo.id}
                                className={(todo.status == 'C') ? 'complete' : (todo.status == 'A') ? 'active' :
                                    (todo.status == 'I') ? 'irrelevant' : (todo.status == 'D') ? 'deffered' :
                                        (todo.status == 'E') ? 'expired' : 'unknown'}>
                                {todo.deadline}: <a href="#"> {todo.action}</a>
                            </li>
                        );
                    })}
                </ul>
            );
        }
    }

    ReactDOM.render(
        <div>
            <Todo/>
        </div>,
        document.querySelector("#todolist")
    );

</script>

</body>
</html>
